<!DOCTYPE html>
<html lang='en'>
  <head>
    <title> Tic Tac Toe </title>
  </head>
  <body>
    <h1> Don't hate the player, hate the game </h1>
    <p> <%= @name %> </p>
    <table border="1">
      <tr>
        <td><%= @positions[0] %></td>
        <td><%= @positions[1] %></td>
        <td><%= @positions[2] %></td>
      </tr>
      <tr>
        <td><%= @positions[3] %></td>
        <td><%= @positions[4] %></td>
        <td><%= @positions[5] %></td>
      </tr>
      <tr>
        <td><%= @positions[6] %></td>
        <td><%= @positions[7] %></td>
        <td><%= @positions[8] %></td>
      </tr>
    </table>
  </body>
</html>

