<!DOCTYPE html>
<html lang='en'>
  <head>
    <title> Tic Tac Toe </title>
  </head>
  <body>
    <h1> Don't hate the player, hate the game </h1>
    <p> <a href='/make_move'> Place a move </a></p>
    <p> <%=  %> </p>
    <table border="1">
      <tr>
        <td><%= @spots[0] %></td>
        <td><%= @spots[1] %></td>
        <td><%= @spots[2] %></td>
      </tr>
      <tr>
        <td><%= @spots[3] %></td>
        <td><%= @spots[4] %></td>
        <td><%= @spots[5] %></td>
      </tr>
      <tr>
        <td><%= @spots[6] %></td>
        <td><%= @spots[7] %></td>
        <td><%= @spots[8] %></td>
      </tr>
    </table>
  </body>
</html>

