<h1 class="welcome"> Tic Tac Toe </h1>

<% unless @game.is_over? %>
  <h2 class="play-info"> Currently <%= @current_player.mark %>'s turn </h1>
<% end %>

<% if @game.is_stalemate? %>
  <p class="play-info winner-message"> The Game ended in a stalemate. </p>
  <p> <a href='/play_again'> Play Again? </a> or <a href='/reset_session'> Choose new players</a> </p>

<% elsif @game.is_over? %>
  <p class="play-info winner-message"> The Game is over. </p>
  <h3 class="play-info winner-message"> <%= session[:winner].mark %> won the game. </h3>
  <p class="play-info"> 
    <a href='/play_again'> Play Again? </a> 
    or 
    <a href='/reset_session'> Choose new players</a>
  </p>

<% else %>
  <p class="play-info choose-spot"> <%= @current_player.mark %>, choose a spot: </p>
<% end %>

<div class="game-board">

<form action="/make_move" method="post" class="game-form">
  <table border="1">
    <% @spots.each do |row| %>
    <!-- use a switch that assigns class based on index -->
    <!-- board presenter -->
      <tr> 
        <% row.each_with_index do |spot, index| %>
          <% if spot.class == Fixnum %>
            <td height="100" width="100"> 
              <input type="radio" name="chosen-move" value="<%= spot.to_i %>" class="choice-button">
            </td>
          <% else %>
            <td height="100" width="100">
              <%= spot %>
            </td>            
          <% end %>
        <% end %>
      <tr>
    <% end %>
  </table>
</form>
</div>
